<div class="mt-5 d-flex flex-column">
    <div class="card d-flex flex-row p-3 align-item-center justify-content-center">
        <span class="me-4">{{ user.firstName.concat(" ").concat(user.lastName) }}</span>
        <span class="me-4">{{ user.userId }}</span>
    </div>

    <div class="btn-group mb-2 mt-3" *ngIf="(effect.getEvents() | async ) as events" dropdown>
        <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            Select Event <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu  dropdown-menu-right" role="menu">
            <li role="menuitem" *ngFor="let event of events">
                <button class="dropdown-item" (click)="select(event.eventId)">{{ event.name }} ({{ event.members.length
                    }})</button>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-column justify-content-center">
        <button type="button" class="btn btn-primary mb-2" (click)="join()">Join Event</button>
        <button type="button" class="btn btn-block btn-success mb-2" (click)="printCertificate()">
            Print Certificate
        </button>
        <button type="button" class="btn btn-block btn-danger" (click)="logout()">
            Back to Search
        </button>
    </div>
</div>