<div class="mt-5 d-flex flex-column">
    <alert type="info" class="text-center" *ngIf="isLoggedInAsAdmin">
        <span>Logged in as <strong>Admin</strong></span>
        <button type="button" class="btn btn-primary ms-2" (click)="adminLogOut()">Log Out</button>
      </alert>
      <ngx-qr-scanner (scannedData)="scannedData($event)"></ngx-qr-scanner>
    <ng-container *ngIf="isAdminLoginShown; else adminLoginButton">
        <div class="mb-3">
            <input type="text" class="form-control mb-2" name="registration" aria-describedby="registration"
                placeholder="E-mail" [(ngModel)]="admin.email">
            <input type="password" class="form-control" name="registration" aria-describedby="registration"
                placeholder="Password" [(ngModel)]="admin.password">
        </div>
        <button type="button" class="btn btn-primary mb-2" (click)="adminLogin()">Login</button>
        <button type="button" class="btn btn-danger mb-2" (click)="hideAdmin()">Hide</button>
    </ng-container>

    <ng-template #adminLoginButton>
        <div class="mb-3">
            <input type="text" class="form-control" name="registration" aria-describedby="registration"
                placeholder="Registration Code" [(ngModel)]="registrationId">
        </div>
        
        <button type="button" class="btn btn-primary mb-2" (click)="checkCode()">Check Code</button>
        <button type="button" class="btn btn-danger mb-2" (click)="clear()">Clear</button>
        <button type="button" class="btn btn-success mb-2" (click)="isAdminLoginShown = true" *ngIf="!isLoggedInAsAdmin">Admin Login</button>
    </ng-template>
    
</div>