.title {
    color: #fff;
}

.animated {
    animation: rotate 0.5s linear infinite;

    @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    }
}

.lower-half {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: -10px;
    background-color: #fff;
}

.position-sticky {
    background-color: #fff;
}

.qr-card {
    background: rgb(122,32,55);
    background: linear-gradient(31deg, rgba(122,32,55,1) 0%, rgba(230,53,74,1) 100%); 
}

:host ::ng-deep {
    canvas {
        border-radius: 20px;
    }
}

@media (prefers-color-scheme: dark) {
    .main-bg {
        background-color: #1b1b1d;
    }

    .lower-half {
        background-color: #313133;
    }

    .main {
        background-color: rgba(27, 27, 29, 0.9);
        color: #fff;
    }

    .qr-card {
        background: radial-gradient(circle, rgba(32,11,15,1) 0%, rgba(27,27,29,1) 100%);
    }

    .card, .qr-card {
        background-color: rgba(27, 27, 29);
    }

    .position-sticky {
        background-color: #1b1b1d;
        button, button svg {
            color: #fff !important;
        }

        button {
            border-color: #fff;
        }
    }
}